body {
    background-color: var(--color-secundario);  
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}


aside {
    right: 10px;
    top: 190px;
    position: absolute;
    background-color: #343a40;
    color: white;
    border-radius: 8px;
}


aside ul{
    padding: 0;
    list-style: none;
}
aside a{
    color: var(--color-link);

}

aside a:hover{
    color: var(--color-secundario);
}
section {
    padding: 20px;
    margin: 20px;
}

article{
    text-align: center;
}

article li {
    list-style: none;
}

#neptuno {
    position: absolute;
    left: -400px;
    transform: scaleX(-1);
}
