body {
    background-color: var(--color-secundario);  
}

header {
    background-color: var(--color-header);
    color: #ffffff;
    padding: 10px;
}

section {
    padding: 20px;
    margin: 20px;
}

article{
    text-align: center;
}

article li {
    list-style: none;
}

.contenedorprogress{

    margin: 20px;
    flex-wrap: wrap;
}
.cajaprogress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.medium-margen{
    margin-bottom: 10px;
}

.caracteristica-neputno{
    width: 400px;
}
#neptuno {
    position: absolute;
    left: -400px;
    transform: scaleX(-1);
}


@media (max-width: 1024px){
    .cajaprogress{
        margin-bottom: 10px;
    }

    .medium-margen{margin-bottom: unset;}
}
