
/*    Index       */

.pagina-principal {
    background: url(/imagenes/space.jpg);
    background-size: contain;
}

.fila-solar {
    height: 100vh;
    width: 100%;
}


.sistema-solar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: -49%;
}


.sol-contenedor {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-planeta {
    width: 30vw;
    aspect-ratio: 1;
    background: url(/imagenes/planetas/sol.png);
    background-size: cover;
}




.mercurio-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/mercurio.png);
    --_tamaño-planeta: 4vw;
    --_orbita-numero: 1;
    --_velocidad-rotacion: 1;
    --_orbita-duracion: 5s;
    --_angulo-inicial: 160deg;
    --_planeta-color: gray;
    --_planeta-nombre: 'MERCURIO';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero));
}

.venus-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/venus.png);
    --_tamaño-planeta: 5vw;
    --_orbita-numero: 2;
    --_velocidad-rotacion: 3;
    --_orbita-duracion: 14s;
    --_angulo-inicial: 12deg;
    --_planeta-color: #a5722a;
    --_planeta-nombre: 'VENUS';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero));
}

.tierra-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/tierra.png);
    --_tamaño-planeta: 6vw;
    --_orbita-numero: 3;
    --_velocidad-rotacion: 2;
    --_orbita-duracion: 18s;
    --_angulo-inicial: 340deg;
    --_planeta-color: #2b2bd2;
    --_planeta-nombre: 'TIERRA';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero));
}

.marte-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/marte.png);
    --_tamaño-planeta: 8vw;
    --_orbita-numero: 4;
    --_velocidad-rotacion: 3;
    --_orbita-duracion: 22s;
    --_angulo-inicial: 162deg;
    --_planeta-color: #ff4000;
    --_planeta-nombre: 'MARTE';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero));
}

.jupiter-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/jupiter.png);
    --_tamaño-planeta: 10vw;
    --_orbita-numero: 5;
    --_velocidad-rotacion: 3;
    --_orbita-duracion: 10s;
    --_angulo-inicial: 200deg;
    --_planeta-color: #deb887;
    --_planeta-nombre: 'JUPITER';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero) + 5vw); /* +90 */
}

.saturno-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/saturno.png);
    --_tamaño-planeta: 11vw;
    --_orbita-numero: 6;
    --_velocidad-rotacion: 4;
    --_orbita-duracion: 19s;
    --_angulo-inicial: 260deg;
    --_planeta-color: #c2b280;
    --_planeta-nombre: 'SATURNO';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero ) + 10vw); /* 190 */
}

.urano-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/urano.svg);
    --_tamaño-planeta: 7vw;
    --_orbita-numero: 7;
    --_velocidad-rotacion: 4;
    --_orbita-duracion: 23s;
    --_angulo-inicial: 95deg;
    --_planeta-color: #00ffff;
    --_planeta-nombre: 'URANO';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero) + 12vw);
}

.neptuno-contenedor {
    --_ruta-imagen: url(/imagenes/planetas/neptuno.png);
    --_tamaño-planeta: 6.5vw;
    --_orbita-numero: 8;
    --_velocidad-rotacion: 4;
    --_orbita-duracion: 30s;
    --_angulo-inicial: 32deg;
    --_planeta-color: #000080;
    --_planeta-nombre: 'NEPTUNO';

    --_tamaño-orbita: calc(10vw * var(--_orbita-numero) + 14vw);
}



.planeta-contenedor {
    width: var(--_tamaño-orbita);
    aspect-ratio: 1;

    box-shadow: 0 0 0 1px white;
    border-radius: 50%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    transition:  box-shadow .5s;
}

.planeta-contenedor::after {
    content: var(--_planeta-nombre);

    font-family: 'calibre';
    font-size: 30px;
    color: var(--_planeta-color);

    position: absolute;
    top: -44px;
    z-index: 50;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translateY(10px);
    transition: clip-path .5s, transform .8s;
}

.planeta {
    width: var(--_tamaño-planeta);
    aspect-ratio: 1;

    background: var(--_ruta-imagen);
    background-size: cover;

    border-radius: 50%;

    animation: planeta_movimiento var(--_orbita-duracion) linear infinite;
    transition: all .4s;
    pointer-events: auto;

    position: relative;
    z-index: 100;
}


.planeta:hover {
    width: calc(var(--_tamaño-planeta) + 10px + var(--_tamaño-planeta) / 8);
}

.planeta-contenedor:hover {
    box-shadow: 0 0 0 6px var(--_planeta-color);
}

.planeta-contenedor:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateY(0);
}


@keyframes planeta_movimiento {
    from {
        transform: rotate(var(--_angulo-inicial)) translateX( calc( var(--_tamaño-orbita) / -2) ) rotate(0);
    }

    to {
        transform: rotate(calc(360deg + var(--_angulo-inicial))) translateX( calc( var(--_tamaño-orbita) / -2) ) rotate(calc(360deg * var(--_velocidad-rotacion)));
    }
}

@media (max-width: 500px) {
    .sistema-solar {
        position: absolute;
        bottom: -8%;
        left: -51%;
    }

    .planeta {
        width: calc(var(--_tamaño-planeta) * 1.9);
    }

    .planeta-contenedor {
        width: calc(var(--_tamaño-orbita) * 1.9);
    }

    .planeta:hover {
        width: calc(var(--_tamaño-planeta) * 1.9 + 10px + var(--_tamaño-planeta) / 4);
    }

    @keyframes planeta_movimiento {
        from {
            transform: rotate(var(--_angulo-inicial)) translateX( calc( var(--_tamaño-orbita) / -2 * 1.9) ) rotate(0);
        }
    
        to {
            transform: rotate(calc(360deg + var(--_angulo-inicial))) translateX( calc( var(--_tamaño-orbita) / -2 * 1.9) ) rotate(calc(360deg * var(--_velocidad-rotacion)));
        }
    }
}


.section {
    background-color: #010114eb;
    border-radius: 10px;

    position: relative;
    z-index: 100;

    color: white; 
    font-family: 'calibre';
}

.title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 20px;
    text-align: center;
}

@media (max-width: 420px) {
    .title {
        font-size: 50px;
    }

    .titulo-linea .title {
        font-size: 44px;
    }
}

.linea {
    border-top: 3px solid white;
    opacity: 1;
}

.parrafo-contenedor {
    background-color: #0a0a33;
    border-radius: 10px;
    padding: 20px; 
}

.sec-1 .parrafo {
    font-size: 20px;
}

.sec-1 .parrafo span {
    color: #3333d7;
    font-size: 24px;
    line-height: 20px;
}

.sec-1 .texto-contenedor {
    padding: 0 15px;
    height: 100%;
}

.gap50 {
    gap: 200px
}

.sec-2 .imagen-contenedor img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    
    object-fit: cover;
}

.sec-2 .parrafo-contenedor {
    height: 100%;
    padding: 0 50px;
}

.sec-2 .parrafo {
    font-size: 20px;
}

.sec-3 .form-contenedor {
    background-color: #0a0a33;
    border-radius: 10px;

    min-height: 330px;
    padding: 0 10px;

    position: relative;
}

.sec-3 .formulario .input-contenedor  {
    position: relative;
    width: 100%;
}

.input-contenedor h3 {
    position: absolute;
    top: -22px;
    font-size: 22px;

    text-overflow: ellipsis;
    overflow: hidden;

    transition: all .3s;
}

.input-contenedor input {
    width: 100%;

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color-scheme: dark;

    color: rgba(255, 255, 255, 0.868); 
    font-size: 20px;

    transition: border-bottom .3s;
}

.input-contenedor input:focus {
    border-bottom: 3px solid #3333d7;
}

.input-contenedor input:focus + h3 {
    color: #3333d7;
}

.boton-formulario {
    width: 200px;
    height: 35px;

    position: absolute;
    bottom: 5px;
    right: 10px;

    background-color: #5959de;
    border-radius: 10px;
    outline: none;
    border: none;

    color: white;
    font-size: 18px;
}
/*    Index       */


/*    Colores            */

:root {
    --color-primario: #ffffff;
    --color-secundario: #F8F4E3;
    --color-fondo: #272727;
    --color-link: #EC9192;
    --color-header-neptuno: #4817b9;
    --color-header-marte: #c40e04;
  }

/*    Colores            */


/*    Planetas            */


body {
    background-color: var(--color-secundario);  
}

header {
    background-color: #000000;
    color: #ffffff;
}

#neptuno-header{
    background-color: var(--color-header-neptuno);
}

#marte-header{
    background-color: var(--color-header-marte);
}


article{
    text-align: center;
}

article li {
    list-style: none;
}

.contenedorprogress{
    margin: 20px;
    flex-wrap: wrap;
}

.cajaprogress {
    display: flex;
    background-color: #040427eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 289px;
    height: 289px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.medium-margen{
    margin-bottom: 10px;
}

.caracteristica-neputno{
    width: 400px;
}

@media (max-width: 1024px){
    .cajaprogress{
        margin-bottom: 10px;
    }

    .medium-margen{margin-bottom: unset;}
}

/*    Planetas            */




/* Error */


.error h2{
    font-weight: unset;
}

.error footer h2    {
    font-weight: 500;
}
.error h4{
    font-weight: unset;
}

.error .alumno h3{
    font-weight: unset;
}

.error h3{
    font-weight:500;
}

/* Error */


/* Neptuno */

.neptuno-main{
    background-color: #010114eb;
    color: white;
}


.planeta-main section {
    padding: 20px;
    margin: auto;
}

.marte-main .cajaprogress{
    background-color: #c83325d2;
    color: white;
    border-color: black;
}

/* Neptuno */